.bsp_container
{
    width: 100%;
    height: 80vh;
    position: relative;
    display: flex;
    justify-content: center;
    padding-bottom: 4rem;
    align-items: center;
}
.bsp_content
{
   width: 70%;
   height: 100%;
   display: flex;
   flex-direction: column;
   align-items: center;
   justify-content: center;
   border-radius: 2rem;
   gap: 2rem;
    background: linear-gradient(rgba(0, 0, 0, 0.762),rgba(0,0,0,0.45)),url("../images/room.jpg") no-repeat center / cover;
    

}

.bsp_content h1{
    font-weight: 700;
    font-size: 40px;
}
.bsp_para
{
    width: 70%;
    font-weight: 400;
    font-size: 18px;
    line-height: 1.75;
    text-align: center;
}